body {
    font-family: 'Poppins', sans-serif;
}

/* UTILITIES */
.m-10 {
    margin-top: 100px;
    margin-bottom: 100px;
}

p {
    color: #777;
    font-weight: 300;
    line-height: 1.88rem;
    margin: 0px;
}

.button {
    display: block;
    background: #289BDE;
    color: #fff;
    border: 1px solid #289BDE;
    outline: none;
    border-radius: 3px;
    padding: .65rem 1.5rem;
    transition: all ease-in-out 0.4s;
}

.white-button {
    display: block;
    background: #ffffff;
    color: #289BDE;
    border: 1px solid #fff;
    outline: none;
    border-radius: 3px;
    padding: .65rem 1.5rem;
    transition: all ease-in-out 0.4s;
}

.sub-title {
    width: 55%;
}

/*HOVER EFFECT*/
.button:hover {
    background: #fff;
    color: #289BDE;
    box-shadow: inset 1px -5px 12px -4px #289BDE;
    cursor: pointer;
}

.white-button:hover {
    background: #289BDE;
    color: #ffffff;
    border: 1px solid #289BDE;
    box-shadow: inset 1px 5px 12px -1px #ffffff;
    cursor: pointer;
}

/* NAVBAR CSS */
.nav-title {
    font-size: 2rem;
    font-weight: 600;
    color: #4a4a4a;
}

.nav-item a {
    margin: 0px 15px auto;
    color: #777;
    transition: .3s;
}

.reg-btn {
    color: #289BDE;
    border: 1px solid #289BDE;
    background: white;
    padding: .6rem 1.8rem;
    border-radius: 5px;
    transition: ease-in-out .3s;
}

/* HOVER EFFECT */
.nav-item a:hover {
    color: #289BDE;
    font-weight: 500;
}

.reg-btn:hover {
    background: #289BDE;
    color: #fff;
    box-shadow: 0 5px 5px -4px #289BDE;
}

/* CAROUSEL CSS */
.c-item p {
    width: 70%;
    margin: auto;
}

.c-img {
    height: 90vh;
    object-fit: cover;
    filter: brightness(0.4);
}

/* COURSE SECTION */
.course-card {
    border: 1px solid #EEE;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}

.course-card img {
    transition: 0.5s;
}

/* HOVER EFFECT */
.course-card:hover {
    transform: translateY(-12px);
    cursor: pointer;
}

.course-card img:hover {
    transform: scale(0.95);
}

/* HERO SECTION */
.hero-section {
    background: #F4FAFD;
}

/* OUR STUDENTS SECTION */

.our-student .col-12 img {
    transition: all ease-in-out .3s;
}

/* HOVER EFFECT */
.our-student .col-12:hover img {
    transform: scale(0.95);
    margin-bottom: -12px;
    box-shadow: 0 .8rem 2rem rgba(0, 0, 0, .175);
}

/* STUDENT FEEDBACK */
.feedback .rating {
    display: block;
    font-size: 0.5rem !important;
}

.student p {
    font-size: 0.9rem;
    line-height: normal;
}

/* FAQ SECTION */

.faq .accordion {
    width: 70%;
    margin: auto;
}

.accordion-border {
    border-top: 1px solid #eee !important;
}

/* FOOTER SECTION */
.footer {
    background: #161616;
}

.footer p {
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.4rem;
}

.footer-icon span {
    font-size: 1.1rem;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #242424;
    border: 1px solid #242424;
    border-radius: 50%;
    transition: ease-in-out 0.3s;
}

/* HOVER EFFECT */
.footer-icon span:hover {
    transform: scale(1.2);
    font-size: 1.4rem;
    cursor: pointer;
    color: red;
}

/* CUSTOM RESPONSIVE MOBILE DEVICES*/
@media only screen and (max-width: 576px) {
    p {
        line-height: 1.6rem;
    }

    .m-10 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .sub-title {
        width: 100%;
        margin: auto;
    }

    .section-title h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .section-title p {
        width: 100% !important;
    }

    .c-item h5 {
        font-size: 1.5rem !important;
    }

    .c-item p {
        width: 100%;
    }

    .course-section img {
        width: 100%;
    }

    .faq .accordion {
        width: 100%;
    }
}

/* CUSTOM RESPONSIVE TABLET DEVICES */
@media only screen and (max-width: 992px) {
    .m-10 {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .sub-title {
        width: 80%;
    }
.faq{
    margin-bottom: 0px;
}
    .faq .accordion {
        width: 100%;
    }
}